*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

body {
  min-height: 100vh;

  padding: 0;
  margin: 0;

  background-color: rgb(235, 248, 248);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  padding: 20px 0;
}

ul button:hover {
  background-color: grey;
}

.container {
  display: flex;
  position: relative;
}

.hamburger-btn {
  position: fixed;

  top: 3rem;
  left: 3rem;

  width: 50px;
  height: 50px;
  border: 3px solid rgb(71, 152, 151);
  transition: all 0.25s linear;
}

.hamburger-btn .hamburger-middle {
  position: absolute;

  top: 50%;
  left: 10%;
  width: 80%;
  height: 5%;
  background: rgba(71, 152, 151, 1);
  transition: all 0.3s linear;
}

.hamburger-btn .hamburger-middle::before,
.hamburger-btn .hamburger-middle::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgb(71, 152, 151);
  transition: all 0.25s ease-in-out;
}

.hamburger-btn .hamburger-middle::before {
  transform: translateY(-10px);
}
.hamburger-btn .hamburger-middle::after {
  transform: translateY(10px);
}

.hamburger-btn.open {
  border: 3px solid white;
}

.hamburger-btn.open .hamburger-middle {
  background: rgba(255, 255, 255, 0);
  transition: all 1ms linear;
}

.hamburger-btn.open .hamburger-middle::before,
.hamburger-btn.open .hamburger-middle::after {
  background-color: white;
}

.hamburger-btn.open .hamburger-middle::before {
  transform: rotate(45deg) translateY(0);
}

.hamburger-btn.open .hamburger-middle::after {
  transform: rotate(-45deg) translateY(0);
}

.sidebar {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -25%;
  background-color: rgba(83, 177, 176, 0.9);

  min-width: 25%;
  min-height: 100vh;

  transform: translate(0%, 0%);
  transition: transform 500ms ease 0s;
}

.sidebar.open {
  transform: translate(100%, 0%);
}

.nav-links,
.additional-links {
  display: flex;
}

.nav-links li,
.additional-links li {
  padding: 0;
}

.nav-links a,
.additional-links a {
  color: white;
  text-decoration: none;
}

.nav-links {
  flex-flow: column nowrap;
  text-align: center;
}

.nav-links a {
  padding: 20px 0;
  display: block;
  height: auto;
  font-size: 2vw;
}

.nav-links a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.additional-links {
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 20px 0;
}

.additional-links li {
  display: inline-block;
  text-align: center;
}

.additional-links img {
  height: 60%;
  width: auto;
}

.additional-links img:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.content {
  overflow: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  width: 80%;
  padding: 5rem 0;
}

.home-content,
.about-content {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  color: rgb(71, 152, 151);
}

.home-content {
  justify-content: space-between;
  align-items: end;
  padding: 5rem 0;
}

.hero-text {
  display: flex;
  flex-flow: column nowrap;
  font-size: 3rem;
  width: 50%;
  padding: 5rem 0;
}

.hero-text p {
  margin: 0;
  padding: 0;
}

.hero-text .desc {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.home-img {
  background-color: white;
  width: 40%;
  height: 100%;
}

.about-background {
  display: flex;
  justify-content: center;
  background-color: rgb(195, 235, 235);
}

.about-content {
  justify-content: space-between;
  font-size: 1.5rem;
}

.about-img {
  background-color: white;
  width: 40%;
  height: 100%;
}

.about-text {
  width: 50%;
}

.about-text div {
  font-size: 3rem;
}

.projects-content,
.contact-content {
  flex-flow: column nowrap;
  align-items: center;
}

.contact-content {
  align-items: start;
  gap: 20px;
}

/* table {
  background-color: rgb(116, 116, 124);
  width: 80%;
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

th {
  font-size: 1.5rem;
}

th,
td {
  padding: 20px;
}

table tbody tr:nth-of-type(odd) {
  background-color: darkgray;
}

tbody {
  border-top: 2px solid black;
}

tr td:first-of-type {
  border-right: 2px solid black;
  width: 20%;
  font-size: 1.25rem;
  font-weight: 500;
} */

.projects,
.projects ul {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.projects h2 {
  font-size: 3rem;
  color: rgb(71, 152, 151);
}

.divider {
  border: 2px solid rgb(84, 177, 176);
  width: 100%;
  border-radius: 75%;
  margin: 3rem 0;
}
/* 
.project {
  display: flex;
  width: 100%;
  justify-content: space-between;
} */

.project {
  display: grid;
  grid-template-rows: repeat(4, 25% [row-start]);
  grid-template-columns: [first] 20% [second] 80%;
  gap: 0 1rem;
}

.project img {
  width: 100%;
  height: auto;

  grid-row: 1/5;
  grid-template-columns: 1/2;
}

.project p {
  margin: 0;

  grid-row: 1/4;
  grid-column: 2/3;
}

.labels {
  grid-row: 4/5;
  grid-column: 2/3;
  align-self: end;
}

.label {
  border: 1px solid rgb(84, 177, 176);
  border-radius: 36px;
  padding: 5px 10px;
}

.skills {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.skill-grid {
  display: grid;
  grid-template-areas:
    "languages frameworks"
    "backend databases";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.skill-cell {
  display: flex;
}

.skill-icon {
  height: 4rem;
  width: 4rem;
  background-color: rgb(71, 152, 151);
  border-radius: 100%;
}

.skill-grid .languages {
  grid-area: languages;
}
.skill-grid .css-frontend-frameworks {
  grid-area: frameworks;
}
.skill-grid .backend-tools {
  grid-area: backend;
}
.skill-grid .databases {
  grid-area: databases;
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 50% [col-start]);
  grid-template-rows: [first] 15% [second] 15% [third] 55% [fourth] 15%;
  gap: 0rem 1rem;
  height: 20rem;
  width: 30rem;
}

.contact-form button {
  margin-top: 1rem;
}

.contact-input {
  display: flex;
  flex-flow: column nowrap;
}

#input-name,
#input-email {
  grid-row: 1/2;
}

#input-subject,
#input-message {
  grid-column: 1 / 3;
}

#input-subject {
  grid-row: 2/3;
}

#input-message {
  grid-row: 3/4;
}

#input-message textarea {
  resize: none;
}
